<h1>GovMind harvests, produces and converts goverment data into general-purpose predictive models. The organization was created with a single purpose: any government, anywhere, should be able to bootstrap on the collective intelligence of every government, everywhere. </h1>
<p>Govmind is an application for public servants, data scientists, and web developers</p>
